{% extends "base.html" %}
{% block title %}{{announcement.title}}{% endblock %}
{% block body %}
<div class="col-md-10 col-md-offset-1">
    <form class="col-md-10 col-md-offset-1" action="" method="POST">
    	<label>title</label>
        <input type="text" class="form-control" name="title" required="" value="{{announcement.title}}">
        <label>content</label>
        <textarea class="form-control" rows="20" name="content" required="">{{announcement.content}}</textarea>
        <center style="font-size:20px"><input type="checkbox" {% if announcement.visible %}checked=""{% endif %} name="visible">visiable</center>
        <center><button class="btn btn-lg btn-default " type="submit">提交</button></center>
    </form>
    <br>
</div>
{% endblock %}
{% block home %}"active"{% endblock %}