{% extends "contest_base.html" %}
{% block contest_body %}
<div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-1">RunID</th>
                <th class="col-md-2">用户</th>
                <th class="col-md-2">问题</th>
                <th class="col-md-2">结果</th>
                <th class="col-md-1">语言</th>
                <th class="col-md-1">内存(kB)</th>
                <th class="col-md-1">时间(ms)</th>
                <th class="col-md-2">提交时间</th>
            </tr>
        </thead>
        <tbody>
        {% for contestsubmission in contestsubmissions.object_list %}
            <tr>
                {% if user.is_superuser or contestuser.user == contest.create_user or contestsubmission.contestuser == contestuser %}
                    <td><a href="/contest/{{contest.id}}/submission/{{contestsubmission.id}}">{{contestsubmission.id}}</a></td>
                {% else %}
                    <td>{{contestsubmission.id}}</td>
                {% endif %}
                <td><a href="/user/{{contestsubmission.contestuser.user_id}}">{{contestsubmission.contestuser.user.username}}</td>
                <td><a href="/contest/{{contest.id}}/problem/{{contestsubmission.problem.id}}">{{contestsubmission.problem.title}}</a></td>
                {% if contestsubmission.result == "答案正确" %}
                    <td class="alert-success">{{contestsubmission.result}}</td>
                {% elif contestsubmission.result == "等待评测" or contestsubmission.result == "评测中" %}
                    <td class="alert-info">{{contestsubmission.result}}</td>
                {% elif contestsubmission.result == "系统错误" %}
                    <td class="alert-warning">{{contestsubmission.result}}</td>
                {% else %}
                    <td class="alert-danger">{{contestsubmission.result}}</td>
                {% endif %}
                <td>{{contestsubmission.language}}</td>
                <td>{{contestsubmission.memory}}</td>
                <td>{{contestsubmission.time}}</td>
                <td>{{contestsubmission.create_time}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if contestsubmissions.has_previous %}
                <li><a href="?page={{contestsubmissions.previous_page_number}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
                <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% for page_num in page_range %}
                {% if page_num == contestsubmissions.number %}
                    <li class="active"><a href="?page={{page_num}}">{{page_num}}</a></li>
                {% else %}
                    <li><a href="?page={{page_num}}">{{page_num}}</a></li>
                {% endif %}
            {% endfor %}
            {% if contestsubmissions.has_next %}
                <li><a href="?page={{contestsubmissions.next_page_number}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
                <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
    </nav>
    <br>
    <br>
</div>
{% endblock %}
{% block contest_status %}"active"{% endblock %}