{% extends "base.html" %}
{% block title %}QAQ_OJ_discussion{% endblock %}
{% block body %}
<div class="col-md-10 col-md-offset-1">
    <form class="col-md-4 col-md-offset-4" action="" method=post>
        <label >discussion</label>
            <textarea class="form-control" rows="5" required="" name="discussion"></textarea>
        <br>
        <center><button class="btn btn-lg btn-default" type="submit">提交</button></center>
    </form>
    <br><br><br>
</div>
{% endblock %}
{% block discussion %}"active"{% endblock %}