{% extends "base.html" %}
{% block title %}{{problem.title}}{% endblock %}
{% block body %}
<div class="col-md-10 col-md-offset-1">
<form class="" action="" method="POST" >
    <label >language</label>
    <select class="form-control" name="language">
        <option>C</option>
        <option>C++</option>
        <option>Java</option>
        <option>Python3</option>
    </select>
    <label >code</label>
    <textarea class="form-control" rows="20" name="code" required=""></textarea>
    <br>
    <center><button class="btn btn-lg btn-default" type="submit">提交</button></center>
</form>
</div>
{% endblock %}
{% block problem %}"active"{% endblock %}